
{% load static %}

<div class="container col-xxl-10 py-10 px-5">
  <img class="mb-5" src="/media_files/media/Original-on-Transparent-2048x613.png" alt="sunroc img"
    style="
      width: 183px;
      height: 55px;
    "
  ><br>
  <span class="text-color-blue ps-3" style="font-weight: 600; font-size:14px; line-height: 24px;"> CODED WEBSITE | WEBSITE | CUSTOM SOLUTION</span>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-color-black" style="font-size: 48px; font-weight: 900; width: 650px; height: 120px;" >
          How a Wedding Planner Grew User Acquisition By 5.6%
        </h1>
        <p class="text-muted" style="font-weight:400; font-size:18px; line-height:27px;">Wedding Planner, Custom Solution overall 360° GROWTH CASE STUDY</p>
        <div class="container">
          <button 
              class="btn btn-light fw-400" 
              style="color: #828282; 
              font-size: 20px;
              border: 1px solid #D9D9D9;" 
          >
            Built in 2 weeks
          </button>
          
        </div>
      </div>
      <div class="col" style="width: 365px; height:322px;">
        <img src="../../media_files/media/Original-on-Transparent-2048x613.png" alt="" style="width: 350px; height:300px;">
      </div>
    </div>
  </div>
</div>

