
{% load static %}

<div class="container col-xxl-10 py-10 px-5">
  <img src="/media_files/media/sunorac-og.png" alt="sunroc img"
    style="
      width: 183px;
      height: 55px;
    "
  ><br>
  <span class="text-color-blue" style="font-weight: 600; font-size:14px; line-height: 24px;">CODED WEBSITE | WEBSITE | CUSTOM SOLUTION</span>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-color-black" style="font-size: 48px; font-weight: 900; width: 650px; height: 120px;" >
          How a Wedding Planner Grew User Acquisition By 5.6%
        </h1>
        <p class="lead" style="font-weight:400; font-size:18px; line-height:27px;">Wedding Planner, Custom Solution overall 360° GROWTH CASE STUDY</p>
      </div>
      <div class="col" style="width: 365px; height:322px;">
        <img src="../../media_files/media/sunorac-og.png" alt="" style="width: 350px; height:300px;">
      </div>
    </div>
  </div>
</div>

