{% load static %}
<!-- <div class="content-wrapper pt-5">
    <div class="container">

        <div id="gallery">
            <span class="slick-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
        </span>

            {% for object in brands %}
            <img src="{{object.logo.url}}" style="padding: 0.2rem 5rem 0.2rem 0;" height="50" width="100%"/>
            {% endfor %}
        </div>
    </div>
</div>  -->


<style>
    .slick-slide {
        margin: 1rem;
        height: 50px;
    }

    .slick-slide img {
        margin: 0.2rem;
        float: left;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
    }

    .slide img:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }

    .customer-logos {
        margin: auto;
    }
</style>

<div class=" container d-flex justify-content-around align-items-center">
    <div class="arrow_prev slide ms-5">
        <img src="../../media_files/media/Vector (5).png" class="carousel-control-prev-icon ms-5 me-4" alt="">
    </div>
    <!-- <div class="container">

        <section class="customer-logos slider px-4">
            {% for object in brands %}
            <div class="slide">

                <img src="{{object.logo.url}}" style="width:50%;" />

            </div>
            {% endfor %}

        </section>

    </div> -->

    <!-- main html -->
    <div class="container mt-1" >
        <div class="row align-items-center" style="box-sizing: border-box;">
            <div class="container rounded p-2 show-only-pc" style="margin: 1rem;background-color:#fff; ">
                <div class="slider">
                    <div class="logos p-2 slide slick-slide" style="padding-right:5rem;">
                        {% for object in brands %}
                        <img src="{{object.logo.url}}" style="padding: 0.2rem 5rem 0.2rem 0;" height="50"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br class="show-only-mobile">
            <div class="container rounded show-only-mobile" style="background-color:#fff;" >
                <div class="slider-mobile">
                    <div class="logo.urls mt-4 mb-4">
                        {% for object in brands %}
                        <img src="{{object.logo.url}}" style="padding:0.2rem 2.5em 0.2rem 2.5rem;" height="90"/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="arrow_next slide me-5 ">
        <img src="../../media_files/media/Vector (4).png" class="carousel-control-prev-icon ms-4 me-5 " alt="">
    </div>
</div> 







