{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="banner" style="height: 90%;display: flex;align-items: center;justify-content: center;">
      <div class="container" >
      <h1 class="font-weight-semibold mt-0 pt-0" style="font-size: 25px;line-height: 1.5;">Message Received<span></span></h1>
      <h6 class="font-weight-normal text-muted pb-3 mt-4">Thank you! Your submission has been <br>received and we will be reaching out to <br> you within the next 24 hours!</h6>
      <br><br><br><br><br><br>
    </div>
</div>

{% endblock content %}