<style>
    .owl-dots{
        float: left;
        margin-left: 20px;
    }
    #testimonial-btn{
        bottom:50;
        right:30;
    }
    @media (max-width: 400px) {
        #testimonial-btn{
            bottom:0;
            top:6;
            right:60%;
        }
    }
    @media (max-width: 600px) {
        .owl-dots{
            /* make owl-dot float to center */
            float: none;
            margin-left: 0;
        }
        #testimonial-btn{
            /* float the btn to center */
            float: none;
            right:60%;
            bottom: 0;
            top:10;
        }
    }
    @media (max-width: 760px) {
        #testimonial-btn{
            /* float the btn to center */
            float: none;
            bottom: 0;
            right:58;
        }
    }
    @media (max-width: 990px) {
        #testimonial-btn{
            float: none;
            bottom: 20;
        }
    }

    /* css for testimonial navigation */
    
    .owl-theme .owl-nav [class*='owl-']:hover {
    background: none !important;
    color: #FFF;
    text-decoration: none;
}
.owl-nav{
    display: flex;
    justify-content: space-between;
}
</style>

<div class="content-wrapper p-0">
    <div class="container">
        <section class="customer-feedback" id="feedback-section">
            <div class="row">
                <div class="col-12 text-center pb-5 pt-4">
                    <h2 class="heading-title pb-2">Customer testimonials</h2>
                    <h6 class="section-subtitle text-muted">Frequently asked questions ordered by popularity.</h6>
                </div>
                <!-- <div class="d-flex flex-row"> -->
                    <!-- <div class="arrow_prev slide  ">
                        <img src="../../media_files/media/Vector (5).png" alt="" class="carousel-control-prev-icon ms-5 me-4" >
                    </div> -->
                    <style>
                        .arrow_next{
                           display: block;
                        }
                        .arrow_prev{
                            display: block;
                        }
                        @media (max-width: 800px){
                                .arrow_prev{
                                    display: none;
                                }
                                .arrow_next{
                                    display: none;
                                }
                                .container .slider {
                                    animation: none;
                                    white-space: nowrap;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                            }
                    </style>
                    <div class="owl-carousel owl-theme grid-margi mb-0">
                        <!--TODO give link to whole carousel-->
                        {% for object in review %}
                        <div class="card customer-cards bg-white" style="height: 400px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="{{object.project.logo.url}}" style="width: 150px; height: 80px;"alt="My Image">
                                    
                                    <p class="m-0 py-3 text-muted">{{object.review}}</p>
                                    <div class="content-divider m-auto" style="background-color:#000"></div>
                                    <h6 class="card-title pt-3">{{object.name}}</h6>
                                    <h6 class="customer-designation text-muted m-0">{{object.position}} {{object.project.project_name}}</h6>
                                    <!--                    <a href="{{object.project.website}}">View {{object.project.project_name}}</a>-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="arrow_next slide">
                        <img class="carousel-control-prev-icon ms-4 me-5" src="../../media_files/media/Vector (4).png" alt="My arrow" style="margin-right: 10rem;">
                    </div> -->
                <!-- </div> -->
           

                <a href="./">
                    <center id="testimonial-btn" style="background-color: #F3F3FF;
                        border-color: #d9d9d9;
                        color: #1A27C9;padding: 10px;
                        float:right;
                        justify-content: center;
                        align-items: center; 
                        position:relative;
                        padding: 12px 36px;
                        margin-top:10px; "
                        class="bottom-btn">
                            <span style="font-size: 18px">View all Testimonials</span>
                            <img alt="" class="ml-2" src="/static/images/media/home-view-all-arrow.png" style="color:#1A27C9">
                    </center>
                </a>
            <!-- <center class="mb-1" style="margin-top:3em;">
                <a href="{% url 'home:testimonials' %}" class="btn btn-outline-info">View more</a>
            </center> -->
        </div>
        </section>
    </div>
</div>