{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="banner" style="height:100%;align-items: center;justify-content: center;color: #fff;">
</div>
    <div class="container show-only-mobile" style="margin-top:-190%;align-items: center;justify-content: center;color: #fff;">

      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5 pt-2 testimonial-margin">
            <h1 class="font-weight-semibold show-only-pc mt-0 pt-0" style="font-size: 50px;line-height: 1.5;">Clients<span class="text-color"> Testimonial's</span></h1>
            <h1 class="font-weight-semibold show-only-mobile mt-0 pt-0" style="font-size: 30px;line-height: 1.5;">Clients<span class="text-color"> Testimonial's</span></h1>
            <h6 class="section-subtitle">We’re a growth focused team with result driven approach.</h6>
          </div>

        </div>
      </section>
        <section class="case-studies">
          <div class="row grid-margin">

            {% for object in review %}
              <div class="col-12 col-md-6 col-lg-6 stretch-card mt-2 mb-3" data-aos="zoom-in">
                <div class="card customer-cards " style="height: 27rem;border:solid 1px #183d9b;">
                <div class="card-body pb-5" style="padding: 2rem 1rem;">
                  <div class="text-center">
                    <img src="{{object.project.logo.url}}" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">{{object.review}}</p>
                    <div class="content-divider m-auto" style="background-color:#000"></div>
                    <h6 class="card-title pt-3" style="color:#000;">{{object.name}}</h6>
                    <h6 class="customer-designation text-muted m-0">{{object.position}} {{object.project.project_name}}</h6>
                    <br>
                    <a href="{{object.project.website}}" target="_blank" class="btn btn-info">View {{object.project.project_name}}</a>
                  </div>
              </div>
              </div>
              </div>
            {% endfor %}
          </div>
            <div>
            </div>
        </section>
1
    </div>

    <div class="container show-only-pc" style="margin-top:-52rem;align-items: center;justify-content: center;color: #fff;">

      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5 pt-2 testimonial-margin">
            <h1 class="font-weight-semibold show-only-pc mt-0 pt-0" style="font-size: 50px;line-height: 1.5;">Clients<span class="text-color"> Testimonial's</span></h1>
            <h1 class="font-weight-semibold show-only-mobile mt-0 pt-0" style="font-size: 30px;line-height: 1.5;">Clients<span class="text-color"> Testimonial's</span></h1>
            <h6 class="section-subtitle">We’re a growth focused team with result driven approach.</h6>
          </div>

        </div>
      </section>
        <section class="case-studies">
          <div class="row grid-margin">

            {% for object in review %}
              <div class="col-12 col-md-6 col-lg-6 stretch-card mt-2 mb-3" data-aos="zoom-in">
                <div class="card customer-cards " style="height: 27rem;border:solid 1px #183d9b;">
                <div class="card-body pb-5" style="padding: 2rem 1rem;">
                  <div class="text-center">
                    <img src="{{object.project.logo.url}}" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">{{object.review}}</p>
                    <div class="content-divider m-auto" style="background-color:#000"></div>
                    <h6 class="card-title pt-3" style="color:#000;">{{object.name}}</h6>
                    <h6 class="customer-designation text-muted m-0">{{object.position}} {{object.project.project_name}}</h6>
                    <br>
                    <a href="{{object.project.website}}" target="_blank" class="btn btn-info">View {{object.project.project_name}}</a>
                  </div>
              </div>
              </div>
              </div>
            {% endfor %}
          </div>
            <div>
            </div>
        </section>
1
    </div>

<center>
    <div style="height:70%;align-items: center;justify-content: center;">
      <div class="container pt-5" >
        <h1 class="font-weight-semibold show-only-pc mt-0 pt-0" style="font-size: 40px;line-height: 1.5;">Let's Talk about your <span class="text-color-blue"> Project</span></h1>
        <h1 class="font-weight-semibold show-only-mobile mt-0" style="font-size: 30px;line-height: 1.3;">Let's Talk about your <span class="text-color-blue"> Project</span></h1>
        <div class="pt-2">
          <a href="{{calendly_link}}" class="btn btn-info">Book a FREE Strategy Call</a>
        </div>
 <div class="container mt-5" >
  <div class="row align-items-center" style="box-sizing: border-box;">

<!-- <h6 class="text-center">Technologies we love</h6>-->


    <div class="container rounded show-only-pc p-2" style="margin: -1rem;background-color:#fff;border-box:false;  ">
      <div class="slider">
        <div class="logos p-2" style="padding-right:5rem;">
            {% for object in brands %}
                <img src="{{object.logo.url}}" style="padding: 0.2rem 5rem 0.2rem 0;" height="50"/>
            {% endfor %}
        </div>


      </div>
    </div>


    <br class="show-only-mobile">
    <div class="container rounded show-only-mobile" style="margin: 1rem;background-color:#fff;" >
      <div class="slider-mobile">

          <div class="logo.urls">
            {% for object in brands %}
                <img src="{{object.logo.url}}" style="padding:0.2rem 2.5em 0.2rem 2.5rem;" height="90"/>
            {% endfor %}
        </div>
      </div>
    </div>

  </div>

</div>


      </div>
    </div>
</center>
<div class="show-only-mobile" style="padding-bottom: 10rem;">

<!--            Auto scroll-->
<!--      TODO add client logo carousel-->
  </div>

  </div>

{% endblock content %}